
/cmake-build-debug
/cmake-build-release
/3rdparty/zxcvbn21
/3rdparty/plog110
/build

GeneratePlotsPdfs/main.aux
GeneratePlotsPdfs/main.log
GeneratePlotsPdfs/main.out
GeneratePlotsPdfs/main.pdf
GeneratePlotsPdfs/main.synctex.gz
